/* You can add global styles to this file, and also import other style files */
@use 'highlight.js/styles/github';
@use '@sbb-esta/lyne-elements' as sbb;

html,
body {
  height: 100%;
}

sbb-sidebar-content,
sbb-icon-sidebar-content {
  padding-inline: var(--sbb-spacing-responsive-s);
  padding-block-end: var(--sbb-spacing-responsive-s);
  scroll-behavior: smooth;
}

sbb-markdown-viewer > sbb-title:first-child {
  margin-block-start: 0;
}

pre {
  margin: 0;
}

blockquote {
  border-inline-start: var(--sbb-spacing-fixed-1x) solid var(--sbb-color-1);
  padding: 0 var(--sbb-spacing-fixed-4x);
}

code {
  background-color: var(--sbb-background-color-3);
  padding: var(--sbb-spacing-fixed-1x);
  border-radius: var(--sbb-border-radius-2x);
  font-size: smaller;
}

sbb-title,
sbb-block-link {
  code {
    font-family: inherit;
    font-size: inherit;
    display: inherit;
  }
}

.hljs {
  font-size: var(--sbb-text-font-size-xxs);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  background-color: var(--sbb-background-color-3);
  color-scheme: light;
  white-space: break-spaces;
}

.docs-link {
  --sbb-link-text-decoration-line: none;
}

.docs-toc-container {
  display: flex;
  gap: var(--sbb-spacing-fixed-4x);

  > div {
    flex: 1 1 75%;
    min-width: 0;
  }

  // Reset margin for the first child of the content to avoid unnecessary spacing at the top
  > div > *:first-child {
    margin-block-start: 0;
  }

  table + table {
    margin-block-start: var(--sbb-spacing-fixed-4x);
  }
}

.docs-toc-content {
  height: fit-content;
  inset-block-start: var(--sbb-spacing-fixed-3x);
  position: sticky;
  min-width: 8rem;
  flex: 1 1 25%;

  sbb-title {
    margin-block-start: 0;
  }

  sbb-link-list-anchor {
    overflow: auto;
    max-height: calc(100vh - var(--sbb-header-vertical-spacing) - 2rem);
  }

  @include sbb.mq($to: small) {
    display: none;
  }
}

.sbb-inline-story {
  border: var(--sbb-border-width-1x) solid
    light-dark(var(--sbb-color-aluminium), var(--sbb-color-anthracite));
  padding: var(--sbb-spacing-fixed-6x);
  border-radius: var(--sbb-border-radius-2x);
  margin-block: var(--sbb-spacing-fixed-6x);
}

// These styles need to be in sync with stackblitz styles.scss!
.sbb-controls-table {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: var(--sbb-spacing-fixed-1x);
  background-color: var(--sbb-background-color-3);
  border-radius: var(--sbb-border-radius-4x);
  padding: var(--sbb-spacing-responsive-xxs);

  > label {
    @include sbb.heading--level-6;

    font-weight: bold;

    &:where(:not(:first-child)) {
      margin-block-start: var(--sbb-spacing-fixed-4x);
    }
  }

  > sbb-checkbox {
    width: fit-content;
  }

  @include sbb.mq($from: large) {
    grid-template-columns: auto 1fr;
    gap: var(--sbb-spacing-fixed-4x);

    > label {
      margin-block-start: 0;
    }
  }
}

.sbb-example__negative {
  background-color: var(--sbb-background-color-1-negative);
  color: var(--sbb-color-1-negative);
}
