/* You can add global styles to this file, and also import other style files */
@use 'highlight.js/styles/github';

html,
body {
  height: 100%;
}

pre {
  margin: 0;
}

code {
  border: 1px solid #ccc;
}

.sbb-docs-link {
  --sbb-docs-link-icon-color: initial;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: initial;

  &:hover {
    --sbb-docs-link-icon-color: var(--sbb-color-primary);
  }
}

.sbb-docs-link-icon {
  color: var(--sbb-docs-link-icon-color);
}
