/* You can add global styles to this file, and also import other style files */
@use 'highlight.js/styles/github';

html,
body {
  height: 100%;
}

pre {
  margin: 0;
}

blockquote {
  border-left: var(--sbb-spacing-fixed-1x) solid var(--sbb-color-primary);
  padding: 0 var(--sbb-spacing-fixed-4x);
}

code {
  background-color: var(--sbb-background-color-4);
  padding: var(--sbb-spacing-fixed-1x);
}

.hljs {
  background-color: var(--sbb-background-color-4);
}

.docs-link {
  --docs-link-icon-color: initial;

  display: inline-flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-2x);
  text-decoration: none;
  color: initial;

  &:hover {
    --docs-link-icon-color: var(--sbb-color-primary);
  }
}

.docs-link-icon {
  color: var(--docs-link-icon-color);
}

.docs-toc-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: var(--sbb-spacing-fixed-4x);
}

.docs-toc-content {
  height: fit-content;
  top: 0;
  position: sticky;
  border-left: var(--sbb-border-width-2x) solid var(--sbb-color-primary);
  margin-block-start: var(--sbb-spacing-fixed-4x);
  padding-inline: var(--sbb-spacing-fixed-4x);
  font-size: var(--sbb-text-font-size-xs);
  letter-spacing: var(--sbb-typo-letter-spacing-text);

  h3 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.docs-heading {
  list-style: none;

  &.docs-heading-2:first-of-type {
    padding-block-start: 0;
  }

  a {
    text-decoration: none;
    color: initial;
  }

  &:hover {
    a {
      color: var(--sbb-color-primary);
    }
  }
}

.docs-heading-2 {
  padding-block-start: var(--sbb-spacing-fixed-1x);
}

.docs-heading-3 {
  padding-inline-start: var(--sbb-spacing-fixed-4x);
}

.docs-heading-4 {
  padding-inline-start: var(--sbb-spacing-fixed-8x);
}

.docs-heading-5 {
  padding-inline-start: var(--sbb-spacing-fixed-12x);
}
