@use '@sbb-esta/lyne-elements' as sbb;

.sbb-cdn-icon-list__items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-4x);
  margin-block: var(--sbb-spacing-fixed-4x);
}

sbb-cdn-icon {
  width: 100px;
}
