@use '@sbb-esta/lyne-elements' as sbb;

.sbb-header-info:has(.version-selector) {
  align-items: center;
}

.sidebar-toggle {
  justify-self: end;
}

.spacer {
  height: stretch;
}

sbb-signet {
  @include sbb.mq($from: small) {
    display: none;
  }
}

sbb-logo {
  @include sbb.mq($to: small) {
    display: none;
  }
}
