@use '@sbb-esta/lyne-elements' as sbb;

.sbb-cdn-icon__icon-wrapper {
  width: 100%;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  color: var(--sbb-color-granite);
  border: var(--sbb-border-width-1x) solid var(--sbb-color-storm);
  outline: 0;

  &:is(:hover, :focus) {
    border-color: var(--sbb-ghost-button-border-color-hover);
  }

  &:where(.sbb-cdn-icon__icon-wrapper-dark) {
    background-color: var(--sbb-color-black);
  }
}

.sbb-cdn-icon__icon-path {
  display: block;
  text-align: center;
  font-size: 0.8em;
  line-height: var(--sbb-line-height-small);
  @include sbb.ellipsis();
}

.sbb-cdn-icon__icon-fit {
  --sbb-icon-svg-height: 100%;
  --sbb-icon-svg-width: 100%;

  width: 100%;
  height: 100%;
}
