@use '@sbb-esta/lyne-elements' as sbb;

.chip-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  @include sbb.mq($from: small) {
    grid-template-columns: repeat(4, 1fr);
  }
}
