@use 'node_modules/@sbb-esta/lyne-elements/core/styles' as sbb;
@use 'node_modules/@sbb-esta/lyne-design-tokens/dist/scss/sbb-variables.scss' as sbb-tokens;

.visualized-page-spacing div,
.visualized-grid div {
  @include sbb.development-style;

  height: 100px;
}

.visualized-grid div {
  display: none;

  $columns: (
    'zero': sbb-tokens.$sbb-layout-base-grid-columns-zero,
    'small': sbb-tokens.$sbb-layout-base-grid-columns-small,
    'large': sbb-tokens.$sbb-layout-base-grid-columns-large,
    'ultra': sbb-tokens.$sbb-layout-base-grid-columns-ultra,
  );

  // Only show divs (columns) which are available on the grid for each breakpoint
  @each $breakpoint, $columnCount in $columns {
    @include sbb.mq($from: #{$breakpoint}) {
      &:nth-child(-n + #{$columnCount}) {
        display: block;
      }
    }
  }
}
