@use '@sbb-esta/lyne-elements' as sbb;

:host {
  display: block;
  padding: sbb.px-to-rem-build(24);
  margin-bottom: 1em;
  position: relative;
  border: 1px solid var(--sbb-color-silver);
}

.example-viewer-header {
  border-bottom: 1px solid var(--sbb-color-silver);
  display: flex;
  padding-bottom: sbb.px-to-rem-build(20);
  margin-bottom: 1em;
}

.example-viewer-header-button {
  flex-shrink: 0;
  margin-left: 0.5em;
}

.example-viewer-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0;
}

.sbb-example-viewer-tabs {
  margin-bottom: 2em;

  &[hidden] {
    display: none;
  }
}

.devmode-notification {
  margin-bottom: var(--sbb-divider-small);
}
