:host {
  display: block;

  --border-radius: var(--sbb-border-radius-4x);
}

.example {
  border: var(--sbb-border-width-1x) solid var(--sbb-color-silver);
  border-radius: var(--border-radius);
}

.container {
  padding: var(--sbb-spacing-fixed-6x);

  &:has(.fullscreen-example) {
    padding: 0;
  }
}

.tools {
  background-color: var(--sbb-background-color-3);
  display: flex;
  gap: var(--sbb-spacing-fixed-2x);
  align-items: center;
  flex-wrap: wrap;
  border-end-start-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
}

.sbb-example-viewer-tabs {
  margin-block-start: var(--sbb-spacing-fixed-8x);

  &[hidden] {
    display: none;
  }
}
