.sbb-tag-filter-entries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: var(--sbb-spacing-fixed-2x);
  margin-block-start: var(--sbb-spacing-responsive-s);
}

sbb-card p {
  margin-block: 0;
}
