:host {
  --app-version-selector-font-size: var(--sbb-text-font-size-xs);
}

sbb-form-field {
  --sbb-form-field-text-color: light-dark(var(--sbb-color-granite), var(--sbb-color-smoke));
  --sbb-form-field-input-text-size: var(--app-version-selector-font-size);
}

sbb-option {
  font-size: var(--app-version-selector-font-size);
}
