body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: var(--sbb-spacing-fixed-8x);
}

html,
body {
  height: 100%;
}

.version-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--sbb-text-font-size-xs);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
}
