@use '@sbb-esta/lyne-elements' as sbb;

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: var(--sbb-spacing-fixed-8x);

  &:has(.fullscreen-example) {
    padding: 0;
  }
}

html,
body {
  height: 100%;
}

.version-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--sbb-text-font-size-xs);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
}

// These styles need to be in sync with main styles.scss!
.sbb-controls-table {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: var(--sbb-spacing-fixed-1x);
  background-color: var(--sbb-background-color-3);
  border-radius: var(--sbb-border-radius-4x);
  padding: var(--sbb-spacing-responsive-xxs);

  > label {
    @include sbb.heading--level-6;

    font-weight: bold;

    &:where(:not(:first-child)) {
      margin-block-start: var(--sbb-spacing-fixed-4x);
    }
  }

  > sbb-checkbox {
    width: fit-content;
  }

  @include sbb.mq($from: large) {
    grid-template-columns: auto 1fr;
    gap: var(--sbb-spacing-fixed-4x);

    > label {
      margin-block-start: 0;
    }
  }
}

.sbb-example__negative {
  background-color: var(--sbb-background-color-1-negative);
  color: var(--sbb-color-1-negative);
}
