.form {
  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-fixed-2x);
}

.sbb-column-filter-category {
  max-width: 0;
  min-width: 11rem;
}

sbb-form-field {
  max-width: 100%;
}

// TODO: fix in lyne-elements
sbb-select,
sbb-autocomplete {
  font-weight: normal;
}
