@use '@sbb-esta/lyne-elements' as sbb;

.package-content {
  padding-inline: var(--sbb-spacing-fixed-2x);
}

sbb-title:first-of-type {
  margin-block-start: var(--sbb-spacing-fixed-4x);
}

.search-form-field {
  // Reset title styles applied by sbb-sidebar-title
  font-weight: normal;
  line-height: var(--sbb-typo-line-height-text);
}

.package-sections {
  @include sbb.list-reset;
}
